header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 4rem;
  transform-origin: left;
  transition: background-color 0.4s ease-in-out;
  z-index: 100;
}

header.scrolled {
  background-color: var(--color-2);
}

header.scrolled nav a,
header.scrolled {
  color: var(--color-1);
}

header.menu-open {
  flex-direction: column;
  justify-content: start;
  width: min-content;
  text-align: center;
  background-color: var(--color-2);
  color: var(--color-1);
  height: 100vh;
  padding: 1rem 0.5rem;
  opacity: 1;
  transform: translate(0);
  transition: transform 0.4s ease-in-out;
}

header.menu-open nav ul {
  flex-direction: column;
}

header.menu-open .profile-ko {
  flex-direction: column;
}
header.menu-open .profile {
  display: flex;
}
header.menu-open .lalabas-lang-pag-maliit {
  display: inline-block;
}

header.menu-open .nav-item {
  color: var(--color-1);
  width: 100%;
  display: flex;
  gap: 1rem;
}

header ul {
  display: flex;
  justify-content: space-evenly;
  gap: 0.5em;
  list-style: none;
}

a p {
  display: inline;
}

a {
  text-decoration: none;
}

.nav-item {
  color: var(--color-2);
  padding: 0.75rem;
}

.lalabas-lang-pag-maliit {
  display: none;
}

.line-button {
  position: relative;
  display: inline-block;
}

.line-button span {
  position: absolute;
  display: block;
  background-color: var(--color-1);
}
/* top */
.line-button span:nth-child(1) {
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.2s ease-in;
}
/* right */
.line-button span:nth-child(2) {
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
  transform-origin: top;
  transform: scaleY(0);
  transition: 0.2s ease-out;
  transition-delay: 0.2s;
}
/* bottom */
.line-button span:nth-child(3) {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform-origin: right;
  transform: scaleX(0);
  transition: 0.2s ease-in;
}
/* left */
.line-button span:nth-child(4) {
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  transform-origin: bottom;
  transform: scaleY(0);
  transition: 0.2s ease-out;
  transition-delay: 0.2s;
}

.line-button:hover span:nth-child(1),
.line-button:hover span:nth-child(3) {
  transform: scaleX(1);
}
.line-button:hover span:nth-child(2),
.line-button:hover span:nth-child(4) {
  transform: scaleY(1);
}

.line-button.active span {
  transform: scaleX(1) scaleY(1);
}

.menu-button {
  position: absolute;
  font-size: 1.5rem;
  top: 2rem;
  right: 2rem;
}
.profile-ko {
  display: flex;
  align-items: center;
}

.profile {
  background-image: var(--profile-image);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}
.mga-links {
  margin: 1rem 0;
  font-size: 1.5rem;
}

@media (max-width: 1023px) {
  header {
    transform: translate(-100%);
    opacity: 0;
  }

  .menu-button {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }
  .profile-ko {
    flex-direction: column;
  }

  .lalabas-lang-pag-maliit {
    display: inline-block;
  }
}

@media (min-width: 1024px) {
  header {
    transform: translate(0);
    opacity: 1;
    pointer-events: auto;
  }

  .menu-button {
    transform: translateX(-100%);
    opacity: 0;
  }

  .profile {
    display: none;
  }

  .lalabas-lang-pag-maliit {
    display: none;
  }
}
