:root {
  --profile-image: url("assets/profile.jpg");
  --pic-sa-gedli: url("assets/nangyan.jpg");
  --color-2: #323232;
  --color-1: #ddd0c8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

section {
  height: 100vh;
  padding: 5.25rem 0 0 4rem;
}
a {
  text-decoration: none;
  color: var(--color-1);
}
#home,
#resume,
#contact {
  background-color: var(--color-1);
}
#about,
#certifications {
  background-color: var(--color-2);
}

#home {
  display: flex;
  padding: 0 2rem;
  flex-direction: column;
  justify-content: center;
}

.yung-una {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yung-pangalawa {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.pic-sa-gedli {
  background-image: var(--pic-sa-gedli);
  min-width: 20em;
  height: 20em;
  background-position: center;
  border-radius: 50%;
  background-size: cover;
  border: 5px solid var(--color-2);
}

.wrapper {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.wrapper .static-text {
  color: var(--color-2);
  font-size: 40px;
  font-weight: 600;
  text-wrap: nowrap;
}
.text-sa-baba {
  display: flex;
  flex-direction: column;
}
.wrapper .dynamic-text {
  margin-left: 15px;
}

.dynamic-text {
  position: relative;
  color: #ff4c29;
  font-size: 40px;
  font-weight: 600;
  overflow: hidden;
}

.mga-links-namalaki {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
  gap: 1em;
  padding: 1rem;
  border-radius: 12px;
  background: var(--color-2);
  margin: 2rem 0;
  color: var(--color-1);
  box-shadow: inset -11px 11px 12px 0px rgba(255, 255, 255, 0.1),
    -4px 4px 20px 3px #ff4d2954;
}
.mga-links-namalaki i {
  font-size: 1.5rem;
  transition: color 0.2s ease-in-out;
}

.mga-links-namalaki i:hover {
  color: #ff4c29;
}

@media (min-width: 770px) {
  section {
    padding: 5.25rem 0 0 15rem;
  }

  #home {
    padding: 0 15rem;
  }
  .menu-button {
    position: fixed;
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
  }

  .yung-una {
    flex-direction: row;
  }
}
