/* big screen  */
@media only screen and (min-width: 900px) {
  header {
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    width: 100%;
    padding: 0.4rem 2.5rem;
    transition: background-color 0.4s ease-in-out;
  }
  header .nav-item {
    color: var(--color-2);
  }
  header ul {
    display: flex;
    justify-content: space-evenly;
  }
  header.scrolled {
    color: var(--color-1);
    background-color: var(--color-2);
  }
  header.scrolled a {
    color: var(--color-1);
  }
  header .profile,
  header .lalabas-lang-pag-maliit {
    display: none;
  }

  section {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #home .yung-una {
    flex-direction: row;
  }
  #home .yung-una .pic-sa-gedli {
    min-width: 20rem;
    height: 20rem;
    margin-right: 2rem;
  }

  #about {
    padding-bottom: 0;
  }

  #about .about-content {
    flex-direction: row-reverse;
  }
  #about .intro {
    max-width: 800px;
  }
  #about .skills-container {
    min-width: 500px;
  }
  #resume .contents {
    flex-direction: row;
  }
  .portfolio .img-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 12px 12px;
    grid-template-areas:
      ". ."
      ". .";
  }
}
