:root {
  --profile-image: url("../img/profile.jpg");
  --pic-sa-gedli: url("../img/nangyan.jpg");
  --color-3: #ff4c29;
  --color-2: #323232;
  --color-1: #ddd0c8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: "Lexend Deca", sans-serif;
}

a {
  color: var(--color-3);
}

body {
  position: relative;
  background-color: var(--color-1);
}

header {
  position: fixed;
  top: 0;
  display: flex;
  transition: background-color, transform 0.4s ease-in-out;
  z-index: 100;
}

header .nav-item {
  padding: 0.75rem 1rem;
  width: 100%;
  margin-bottom: 4px;
  font-size: 1rem;
}

.line-button {
  position: relative;
  display: inline-block;
}

.line-button span {
  position: absolute;
  display: block;
  background-color: var(--color-1);
}
/* top */
.line-button span:nth-child(1) {
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.2s ease-in;
}
/* right */
.line-button span:nth-child(2) {
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
  transform-origin: top;
  transform: scaleY(0);
  transition: 0.2s ease-out;
  transition-delay: 0.2s;
}
/* bottom */
.line-button span:nth-child(3) {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform-origin: right;
  transform: scaleX(0);
  transition: 0.2s ease-in;
}
/* left */
.line-button span:nth-child(4) {
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  transform-origin: bottom;
  transform: scaleY(0);
  transition: 0.2s ease-out;
  transition-delay: 0.2s;
}

.line-button:hover span:nth-child(1),
.line-button:hover span:nth-child(3) {
  transform: scaleX(1);
}
.line-button:hover span:nth-child(2),
.line-button:hover span:nth-child(4) {
  transform: scaleY(1);
}

.line-button.active span {
  transform: scaleX(1) scaleY(1);
}

section {
  min-height: 100vh;
  padding-top: 4rem;
}

#menu-icon {
  display: none;
}

#home {
  display: flex;
  justify-content: center;
}

#home .yung-una {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#home .yung-pangalawa {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}
#home .pic-sa-gedli {
  background-image: var(--pic-sa-gedli);
  width: 18em;
  height: 18em;
  background-position: center;
  margin-bottom: 4rem;
  border-radius: 50%;
  background-size: cover;
  border: 5px solid var(--color-2);
}
#home .animated-text {
  display: flex;
  font-size: 2rem;
}
#home .animated-text #dynamic-text {
  color: var(--color-3);
  font-weight: bold;
}
#home .mga-links-namalaki {
  display: flex;
  background-color: var(--color-2);
  justify-content: space-evenly;
  width: min-content;
  padding: 0.4rem 1rem;
  margin-top: 1rem;
  font-size: 1.4rem;
  gap: 12px;
  border-radius: 12px;
  box-shadow: -1px 1px 4px 1px #ff4d2970;
}
#home .mga-links-namalaki a {
  color: #ffe;
  transition: color 0.4s ease-in-out;
}

#home .download-mo-cvko:hover,
#home .mga-links-namalaki a:hover {
  color: var(--color-3);
}

#home .basta {
  display: flex;
  align-items: center;
}

#home .download-mo-cvko {
  color: var(--color-1);
  background-color: var(--color-2);
  justify-content: space-evenly;
  padding: 0.63rem 1rem;
  margin: 1rem 0 0 0.5rem;
  font-size: 1rem;
  border-radius: 12px;
  box-shadow: -1px 1px 4px 1px #ff4d2970;
  transition: color 0.4s ease-in-out;
}

#about,
#certifications {
  display: flex;
  flex-direction: column;
  color: var(--color-1);
  background-color: var(--color-2);
  padding-bottom: 5rem;
}

#about .about-title {
  font-size: large;
  font-weight: 600;
  margin: 1rem;
}
#about .intro {
  margin-left: 1.5rem;
  font-size: 1rem;
  line-height: 25px;
}

#about .picture-someday {
  width: 12rem;
  height: 12rem;
  background-color: var(--color-1);
  border-radius: 50%;
  margin: auto;
}

#about .about-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
#about .skills-content {
  padding: 0 1.5rem;
}
#about .skills-container {
  flex: 1;
}

.skills .progress {
  height: 50px;
  display: block;
  background: none;
}

.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: var(--color-1);
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: var(--color-1);
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: var(--color-3);
}
@keyframes infiniteScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
#resume .contents {
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-direction: column;
}

#resume .container {
  width: 100%;
  overflow-x: hidden;
}
#resume .horizontal-scrolling-items {
  display: flex;
  font-size: 1rem;
  width: 2600px;
  animation-name: infiniteScroll;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#resume .horizontal-scrolling-items__item {
  white-space: nowrap;
}

section h2 {
  padding-left: 4px;
  border-left: 2px solid var(--color-3);
  margin-bottom: 4px;
}

#resume .resume-title {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--color-2);
}

#resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid var(--color-3);
  position: relative;
}
#resume .resume-item h3 {
  line-height: 18px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: var(--color-2);
  margin-bottom: 10px;
}

#resume .resume-item h4 {
  line-height: 18px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: var(--color-2);
  margin-bottom: 10px;
}

#resume .resume-item h5 {
  display: inline-block;
  margin-bottom: 10px;
  color: var(--color-3);
}

#resume .resume-item ul {
  padding-left: 20px;
}

#resume .resume-item ul li {
  padding-bottom: 10px;
}

#resume .resume-item:last-child {
  padding-bottom: 0;
}

#resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid var(--color-3);
}

.portfolio .card {
  width: auto;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  border-left: solid 2px var(--color-3);
  border-bottom: solid 2px var(--color-3);
  position: relative;
}

.portfolio .card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: 0.4s ease-in-out;
}

.portfolio .card:hover .card-img {
  transform: scale(0.9);
}
.portfolio .card:hover .card-body {
  opacity: 1;
  right: 0;
}

.portfolio .card-body {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: #323232d6;
  backdrop-filter: blur(4px);
  color: var(--color-1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  transform-origin: right;
  z-index: 99;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.portfolio .card-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600px;
}

.portfolio .card-subtitle {
  font-size: 1rem;
  color: var(--color-3);
  text-transform: uppercase;
  font-weight: 600px;
}

.portfolio .card-info {
  font-size: 1rem;
  line-height: 25px;
  margin: 40px 0 auto 0;

  display: block;
}

.portfolio .card-btn {
  background: var(--color-3);
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-2);
  border-radius: 4px;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  transition: 0.4s ease-in-out;
}

.portfolio .card-btn:hover {
  background-color: var(--color-1);
  transform: translateX(2px) translateY(-2px);
  border-bottom: 2px solid var(--color-2);
  border-left: 2px solid var(--color-2);
}

.portfolio .img-display {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1fr, 4);
  gap: 12px;
  grid-template-areas:
    "."
    "."
    "."
    ".";
}

#contact {
  min-height: auto;
  color: var(--color-2);
  height: max-content;
  padding: 1rem 2rem 4rem 2rem;
}

#contact .first-box h1 {
  text-transform: uppercase;
  margin-bottom: 2px;
}
#contact .first-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#contact .main {
  display: flex;
  border: 2px solid var(--color-2);
  border-radius: 12px;
  flex-direction: row;
  align-items: start;
  padding: 2rem;
  width: 100%;
  justify-content: space-around;
}

#contact .main div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#contact .main div i {
  margin-right: 4px;
}

#contact p,
#contact a {
  color: var(--color-2);
  display: inline-block;
  font-size: 1rem;
}
#contact a:hover,
#contact p:hover {
  color: var(--color-3);
}
